/10 MAR PDF.pdf
/10 marksheet.jpg
/12 marksheet.jpg
/12 MARKSHEET.pdf
/4. battery.pdf
/46c5ccb7-9296-4ae8-b52a-85d3f69f67e9.pdf
/6fc4d4e1ea37c297c80b8a8f40518f1edb9dd10d03786e5d51148f8f08a8d0fa_encrypt_signedFinal.pdf
/881059111521245_encrypt_signedFinal.pdf
/881059113896990_encrypt_signedFinal (1).pdf
/881059113896990_encrypt_signedFinal.pdf
/aadhar sumit.jpeg
/aadhar sumit.jpg
/AADHAR.jpg
/AADHAR.pdf
/aay praman.jpg
/aay.jpeg
/aay.jpg
/abc_1.py
/AFFIDAVIT PDF.pdf
/affidavit.jpg
/Artist Performance Agreement.docx
/Artist-Licensing-Agreement.zip
/bank.jpg
/battery.jpg
/battery2.gif
/ComputerOrganizationArchitecture.pdf
/DataStructure.pdf
/Demand-Letter-Template-07.doc
/electrochemical.png
/electronics.pdf
/Event-Artist-Agreement.zip
/Exclusive-Artist-Agreement.zip
/fresh 2.jpg
/fresh.jpg
/Git-2.47.0.2-64-bit.exe
/GitHubDesktopSetup-x64 (1).exe
/GitHubDesktopSetup-x64.exe
/helloworld.c
/helloworld.exe
/imresizer-1724951356296.jpg
/kumkum
/Lead-Acid-Battery-3.png
/Lead-Acid-Battery-charge-720x467.webp
/LEAD.jpg
/MIGRATION PDF.pdf
/migration.jpg
/mingw-get-setup.exe
/MODULE-1 PPS lab (1).pdf
/MODULE-1 PPS lab.pdf
/mrityu.jpeg
/mrityu.jpg
/my first.py
/OpenJDK-21
/our.py
/pattern.py
/pdf.jpeg
/PHOTO PDF.pdf
/photo sum.jpeg
/photo sum.jpg
/photo yes.jpg
/photo-compressed.pdf
/photo_11zon.jpg
/pps unit 3.pdf
/python-3.12.5-amd64.exe
/python-3.12.6-amd64 (1).exe
/python-3.12.6-amd64 (2).exe
/python-3.12.6-amd64.exe
/python-3.13.0-amd64 (1).exe
/python-3.13.0-amd64.exe
/receipt.jpeg
/receipt.jpg
/Sample-Artist-Performance-Agreement.zip
/Sem3PYQs.pdf
/shriya.pdf
/SIGNATURE PDF.pdf
/signature.jpg
/signature_11zon.jpg
/sum.py
/sumi 10.jpeg
/sumi 10.jpg
/sumi 12.jpeg
/sumi 12.jpg
/UHV quantum.pdf
/us 2.jpg
/us 3.jpg
/us 4.jpg
/us.jpg
/VSCodeUserSetup-x64-1.87.2.exe
/VSCodeUserSetup-x64-1.92.2.exe
/Zoom_cm_ds_m2ZxBicYR9st6hMoAAVIHPnz4TU+tCUQ1wgyj@p1aCWp6NqqXHKrtH_k6d6ddfbf09017851_.exe